.vs/
packages/
tests/Dependous.Test.Common/obj/
tests/Dependous.Test.Common/bin/
tests/Dependous.Test45/obj/
tests/Dependous.Test45/bin/
tests/Dependous.Tests/bin/
tests/Dependous.Tests/obj/
src/Dependous/bin/
src/Dependous/obj/
src/Dependous.AutoFac/bin/
src/Dependous.AutoFac/obj/
src/Dependous.Probing/bin/
src/Dependous.Probing/obj/

NETCompatibility/obj/
NETCompatibility/bin/


tests/Dependous\.Probing/bin
tests/Dependous\.Probing/obj
